## Estructuras de Datos

1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [21]:
paises = ['italia', 'mexico', 'Resp. Checa', 'Argentina', 'brasil']
print(paises)

['italia', 'mexico', 'Resp. Checa', 'Argentina', 'brasil']

2) Imprimir por pantalla el segundo elemento de la lista

In [22]:
print(paises [1])

mexico

3) Imprimir por pantalla del segundo al cuarto elemento

In [23]:
print(paises [1:4])

['mexico', 'Resp. Checa', 'Argentina']

4) Visualizar el tipo de dato de la lista

In [24]:
print(type(paises))

<class 'list'>

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [25]:
print(paises[2:])

['Resp. Checa', 'Argentina', 'brasil']

6) Visualizar los primeros 4 elementos de la lista

In [26]:
print(paises[:4])

['italia', 'mexico', 'Resp. Checa', 'Argentina']

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [27]:
paises.append('Portugal')
paises.append('mexico')
print(paises)

['italia', 'mexico', 'Resp. Checa', 'Argentina', 'brasil', 'Portugal', 'mexico']

8) Agregar otra ciudad, pero en la cuarta posición

In [28]:
paises.insert(3,'españa')
print(paises)

['italia', 'mexico', 'Resp. Checa', 'españa', 'Argentina', 'brasil', 'Portugal', 'mexico']

9) Concatenar otra lista a la ya creada

In [33]:
paises.extend(['Lisboa','Rio de Janeiro','Estambul'])
print(paises)

['italia', 'mexico', 'Resp. Checa', 'españa', 'Argentina', 'brasil', 'Portugal', 'mexico', 'Lisboa', 'Rio de Janeiro', 'Estambul']

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [35]:
print(paises.index('mexico'))

1

11) ¿Qué pasa si se busca un elemento que no existe?

In [36]:
print(paises.index('Miami'))

ValueError: ignored

12) Eliminar un elemento de la lista

In [39]:
paises.remove('Argentina')
print(paises)

['italia', 'mexico', 'Resp. Checa', 'españa', 'brasil', 'Portugal', 'mexico', 'Lisboa', 'Rio de Janeiro', 'Estambul']

13) ¿Qué pasa si el elemento a eliminar no existe?

In [40]:
paises.remove('Argentina')

ValueError: ignored

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [41]:
ultimo = paises.pop()
print(ultimo)

Estambul

15) Mostrar la lista multiplicada por 4

In [42]:
print(paises*4)

['italia', 'mexico', 'Resp. Checa', 'españa', 'brasil', 'Portugal', 'mexico', 'Lisboa', 'Rio de Janeiro', 'italia', 'mexico', 'Resp. Checa', 'españa', 'brasil', 'Portugal', 'mexico', 'Lisboa', 'Rio de Janeiro', 'italia', 'mexico', 'Resp. Checa', 'españa', 'brasil', 'Portugal', 'mexico', 'Lisboa', 'Rio de Janeiro', 'italia', 'mexico', 'Resp. Checa', 'españa', 'brasil', 'Portugal', 'mexico', 'Lisboa', 'Rio de Janeiro']

16) Crear una tupla que contenga los números enteros del 1 al 20

In [43]:
tu = (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)
print(type(tu))
print(tu)

<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

17) Imprimir desde el índice 10 al 15 de la tupla

In [45]:
print(tu[10:16])

(11, 12, 13, 14, 15, 16)

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [46]:
print(20 in tu)
print(30 in tu)

True
False

19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [53]:
v = 'París'
if (not(v in paises)):
    paises.append(v)
    print('Se insertó el elemento', v)
else:
    print('El elemento', v, 'ya existía')

Se insertó el elemento París

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [57]:
print(paises.count('mexico'))

2

21) Convertir la tupla en una lista

In [61]:
tu2=list(tu)
print(tu2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [64]:
z1,z2,z3,_,_,_,_,_,_,_,_,_,_,_,_,_,_,_,_,_=tu2
print(z1)
print(z2)
print(z3)

1
2
3

23) Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [68]:
di1 = {  'Pais': paises,
'Ciudad': ['Bari','Pto. Escondido','Praga','Paraná','Rio de Janeiro','Lisboa','CDMX'],
'Continente' : ['Europa','América','Europa','América','América','Europa','América']}

In [69]:
print(di1)

{'Pais': ['italia', 'mexico', 'Resp. Checa', 'españa', 'brasil', 'Portugal', 'mexico', 'Lisboa', 'Rio de Janeiro', 'París'], 'Ciudad': ['Bari', 'Pto. Escondido', 'Praga', 'Paraná', 'Rio de Janeiro', 'Lisboa', 'CDMX'], 'Continente': ['Europa', 'América', 'Europa', 'América', 'América', 'Europa', 'América']}

24) Imprimir las claves del diccionario

In [70]:
print(di1.keys())

dict_keys(['Pais', 'Ciudad', 'Continente'])

25) Imprimir las ciudades a través de su clave

In [71]:
print(di1['Ciudad'])

['Bari', 'Pto. Escondido', 'Praga', 'Paraná', 'Rio de Janeiro', 'Lisboa', 'CDMX']