## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
g= 15
print (g)

15

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
type(g)

int

4) Crear una variable que contenga tu nombre

In [5]:
n= 'Gastón'
print(n)

Gastón

5) Crear una variable que contenga un número complejo

In [7]:
c= complex(1,5)

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [8]:
print(c)

(1+5j)

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [10]:
import math

numero_pi = round(math.pi, 4)
print (numero_pi)

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [11]:
v1 = True
v2 = 'True'

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [13]:
type(v1)
type(v2)

str

10) Asignar a una variable, la suma de un número entero y otro decimal

In [14]:
suma=g+numero_pi
print(suma)

18.1416

11) Realizar una operación de suma de números complejos

In [15]:
suma_c= c+c
print(suma_c)

(2+10j)

12) Realizar una operación de suma de un número real y otro complejo

In [16]:
suma3=(g+c)
print(suma3)

(16+5j)

13) Realizar una operación de multiplicación

In [17]:
print(g*numero_pi)

47.124

14) Mostrar el resultado de elevar 2 a la octava potencia

In [18]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [19]:
print(27/4)

6.75

16) De la división anterior solamente mostrar la parte entera

In [26]:
var1=27//4
print(var1)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [25]:
var2=27%4
print(var2)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [28]:
var3=4*var1+var2
print(var3)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [29]:
var4='gastón'
var5=' genio!'
print ( var4+var5)

gastón genio!

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [30]:
var6='2'
var7= 2
var6==var7

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [34]:
int(var6)
resultado = int(var6) == var7
print(resultado)

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [35]:
#el separador de decimales en float es . no , el codigo debería ser
a = float('3.8')
print(a)

3.8

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [37]:
var8 = 3
var8 -= 1
print(var8)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [38]:
1<<2
#da ese resultado poruqe muestra un conjunto de segundo orden en un sistema binario. El sistema de numeración binario es un sistema de numeración posicional que utiliza únicamente dos símbolos: 0 y 1.

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [41]:
#no esta permitido pórque intento sumar una variable int con una str. si realizo la conv de la variable texto el resulado da
print(var7+int(var6))

4

26) Realizar una operación válida entre valores de tipo entero y string

In [42]:
var9 = 5
var10 = "El valor es: "

resultado = var10 + str(var9)
print(resultado)

El valor es: 5